header{
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.header_left{
    margin-left: -90px;
    margin-right: 90px;
}

.header_left img{
    height: 40px;
    width: auto;
}

.header_center{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-around;
    width: 75%;
}

.header_center a{
    text-decoration: none;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.header_center a:hover{
    background-color: #f0f0f0;
    color: #000;
}

.header_right a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 6px;
    border: none;
    background: white;
    transition: all 0.3s ease;
    display: inline-block;
}

.header_right a:hover{
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.auth-links{
    position: relative;
    top: 0;
    left: 105px;
    display: flex;
    gap: 15px;
}